<aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><a href="profile.html"><img src="assets/img/logo.png" class="img-circle" width="90"></a></p>
              	  <h5 class="centered">Campus Life APplication</h5>
              	  	
                  <li class="mt">
                      <a ng-class="{ active: panel.isSelected('/index') }"  href="index.html" >
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a ng-class="{ active: panel.isSelected('/details') }"  href="details.html" >
                          <i class="fa fa-cogs"></i>
                          <span>Detalhes</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a ng-class="{ active: panel.isSelected('/ementas') }"  href="ementas.html" >
                          <i class="fa fa-cutlery"></i>
                          <span>Ementas</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a ng-class="{ active: panel.isSelected('/location') }"  href="javascript:;" >
                          <i class="fa fa-map-marker"></i>
                          <span>Localização</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a ng-class="{ active: panel.isSelected('/gallery') }"  href="gallery.html" >
                          <i class="fa fa-file-photo-o"></i>
                          <span>Galeria</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a ng-class="{ active: panel.isSelected('/stats') }"  href="stats.html" >
                          <i class=" fa fa-bar-chart-o"></i>
                          <span>Estatísticas</span>
                      </a>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>