<section id="main-content">
          <section class="wrapper">
              <h3><i class="fa fa-angle-right"></i> Detalhes do Restaurante</h3>
              
              <!-- BASIC FORM ELELEMNTS -->
              <div class="row mt">
                  <div class="col-lg-12">
                      <div class="form-panel">
                          <form class="form-horizontal style-form" method="get">
                              <div class="form-group">
                                  <label class="col-sm-2 col-sm-2 control-label">Descrição do Restaurante</label>
                                  <div class="col-sm-10">
                                      <input type="text" class="form-control">
                                          <span class="help-block">Escreva um pequeno comentário/caracterização do seu establecimento.</span>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-2 col-sm-2 control-label">Chef(s)</label>
                                  <div class="col-sm-10">
                                      <input type="text" class="form-control">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-2 col-sm-2 control-label">Tipo de Cozinha</label>
                                  <div class="col-sm-10">
                                      <input type="text" class="form-control">
                                          <span class="help-block">Diga que tipos de pratos estão disponíveis no restaurante.</span>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-2 col-sm-2 control-label">Lotação</label>
                                  <div class="col-sm-10">
                                      <input class="form-control" type="text">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-2 col-sm-2 control-label">Preços</label>
                                  <div class="col-sm-10">
                                      <input class="form-control" type="text">
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div><!-- col-lg-12-->      	
              </div><!-- /row -->
              
              
              <h3><i class="fa fa-angle-right"></i> Redes Sociais</h3>
              <div class="row">
                  <br/>
                  <!-- TWITTER PANEL -->
                  <div class="col-lg-4 col-md-4 col-sm-4 mb">
                      <div class="twitter-panel pn">
                          <i class="fa fa-twitter fa-4x"></i>
                          <p>Twitter</p>
                          <p class="user">@restaurante_x</p>
                      </div>
                  </div><!-- /col-md-4 -->
                  
                  <div class="col-lg-4 col-md-4 col-sm-4 mb">
                      <div class="twitter-panel pn" style="background-color:#3b5998">
                          <i class="fa fa-facebook fa-4x"></i>
                          <p>Facebook</p>
                          <p class="user">@restaurante_x</p>
                      </div>
                  </div><!-- /col-md-4 -->
                  
                  <div class="col-lg-4 col-md-4 col-sm-4 mb">
                      <div class="twitter-panel pn" style="background-color:#D00000">
                          <i class="fa fa-google-plus-square fa-4x"></i>
                          <p>Google+</p>
                          <p class="user">@restaurante_x</p>
                      </div>
                  </div><!-- /col-md-4 -->
              </div>
              
              <button type="button" class="btn btn-round btn-info">Guardar</button>
              
          </section>
      </section>