<!DOCTYPE html>
<html lang="en" ng-app="dash">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>CLAP - Restaurant Manager Dashbord :: Detalhes</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/restaurants/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="/static/restaurants/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/restaurants/css/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="/static/restaurants/js/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="/static/restaurants/lineicons/style.css">    
    
    <!-- Custom styles for this template -->
    <link href="/static/restaurants/css/style.css" rel="stylesheet">
    <link href="/static/restaurants/css/style-responsive.css" rel="stylesheet">

    <script type="text/javascript" src="/static/restaurants/js/angular.min.js"></script>
    <script type="text/javascript" src="/static/restaurants/js/angular-cookies.min.js"></script>
    <script type="text/javascript" src="/static/restaurants/js/angular-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="/static/restaurants/js/angular-file-upload.min.js"></script>

    <script src="/static/restaurants/js/tour_lib/angular-cookie/angular-cookie.min.js"></script>
    <script src="/static/restaurants/js/tour_lib/angular-tour-tpls.min.js"></script>
    <script type="text/javascript" src="/static/restaurants/js/dash.js"></script>

    <script src="/static/restaurants/js/chart-master/Chart.js"></script>

    <!-- Custom styles for bootstrap tour -->
    <script src="/static/restaurants/js/tour_lib/jquery/jquery.js"></script>
    

    <link rel="stylesheet" href="/static/restaurants/js/tour_lib/angular-tour.css">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-controller="DemoCtrl">
  <tour step="currentStep" post-tour="postTourCallback()" post-step="postStepCallback()">

  <section id="container" >
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="index.html" class="logo"><b>DASHBORD MANAGER CLAP</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-tasks"></i>
                            <span class="badge bg-theme">4</span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 4 pending tasks</p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">DashGum Admin Panel</div>
                                        <div class="percent">40%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Database Update</div>
                                        <div class="percent">60%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Product Development</div>
                                        <div class="percent">80%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Payments Sent</div>
                                        <div class="percent">70%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                            <span class="sr-only">70% Complete (Important)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="external">
                                <a href="#">See All Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- settings end -->
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-theme">5</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 5 new messages</p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="/static/restaurants/img/ui-zac.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Zac Snider</span>
                                    <span class="time">Just now</span>
                                    </span>
                                    <span class="message">
                                        Hi mate, how is everything?
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="/static/restaurants/img/ui-divya.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Divya Manian</span>
                                    <span class="time">40 mins.</span>
                                    </span>
                                    <span class="message">
                                     Hi, I need your help with this.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="/static/restaurants/img/ui-danro.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Dan Rogers</span>
                                    <span class="time">2 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Love your new Dashboard.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="/static/restaurants/img/ui-sherman.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Dj Sherman</span>
                                    <span class="time">4 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Please, answer asap.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">See all messages</a>
                            </li>
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->
                </ul>
                </div>
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li><a class="logout" href="login.html">Logout</a></li>
                </ul>
            </div>
        </header>
      <!--header end-->
      
      <!--sidebar start-->
       <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
                  <p class="centered"><a href="profile.html"><img src="/static/restaurants/img/logo.png" class="img-circle" width="90"></a></p>
                  <h5 class="centered">Campus Life APplication</h5>
                    
                  <li class="mt">
                      <a  href="index.html" >
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a  class="active" href="details.html" >
                          <i class="fa fa-cogs"></i>
                          <span>Detalhes</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a   href="ementas.html" >
                          <i class="fa fa-cutlery"></i>
                          <span>Ementas</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a   href="location.html" >
                          <i class="fa fa-map-marker"></i>
                          <span>Localização</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a   href="gallery.html" >
                          <i class="fa fa-file-photo-o"></i>
                          <span>Galeria</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a   href="stats.html" >
                          <i class=" fa fa-bar-chart-o"></i>
                          <span>Estatísticas</span>
                      </a>
                  </li>

              </ul>
              <br/>
              <a class="button" href="" ng-click="openTour()"> 
              <button type="button" class="btn btn-theme btn-block" style="position:absolute;bottom:0px"><i class="fa fa-comment"></i>  Ajuda-me</button>
              </a>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!--main content start--> 
      <section id="main-content" ng-controller="ctrlAddRestaurant">
          <section class="wrapper">
              <h3 tourtip="Olá! Esta é a zona de informação do seu restaurante. Preencha os campos para publicitar melhor o seu negócio!"
                        tourtip-next-label="Seguinte"
                        tourtip-placement="bottom"
                        tourtip-offset="20"
                        tourtip-step="0"  ><i class="fa fa-angle-right"></i> Detalhes do Restaurante</h3>
              
              <!-- BASIC FORM ELELEMNTS -->
              <div class="row mt">
                  <div class="col-lg-12">
                      <div class="form-panel">
                          <form class="form-horizontal style-form" ng-submit="restaurant.addRestaurant()">
                               <div class="form-group">
                                  <label class="col-sm-2 col-sm-2 control-label" tourtip="Aqui diga o nome pelo qual o seu estabelecimento é conhecido"
                        tourtip-next-label="Seguinte"
                        tourtip-placement="bottom"
                        tourtip-offset="20"
                        tourtip-step="1">Nome do restaurante</label>
                                  <div class="col-sm-10">
                                      <input type="text" class="form-control" ng-model="restaurant.nameRestaurant" required>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-2 col-sm-2 control-label" tourtip="Aqui diga algo intressante sobre o seu establecimento, algo que o descreve brevemente e que os seus potenciais clientes devem saber!"
                        tourtip-next-label="Seguinte"
                        tourtip-placement="bottom"
                        tourtip-offset="20"
                        tourtip-step="1">Descrição do Restaurante</label>
                                  <div class="col-sm-10">
                                      <input type="text" class="form-control" ng-model="restaurant.descriptionRestaurant" required>
                                          <span class="help-block">Escreva um pequeno comentário/caracterização do seu establecimento.</span>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-2 col-sm-2 control-label">Telemóvel</label>
                                  <div class="col-sm-4">
                                      <input type="text" class="form-control" ng-model="restaurant.phone" required>
                                  </div>
                                  <label class="col-sm-1 col-sm-1 control-label">Email</label>
                                  <div class="col-sm-5">
                                      <input type="text" class="form-control" ng-model="restaurant.email" required>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-2 col-sm-2 control-label">Chef(s)</label>
                                  <div class="col-sm-10">
                                      <input type="text" class="form-control" ng-model="restaurant.chefs">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-2 col-sm-2 control-label" tourtip="O seu restaurante apresenta pratos tradicionais ou pratos mais modernos, é fã de especiarias ou outros condimentos..."
                        tourtip-next-label="Seguinte"
                        tourtip-placement="bottom"
                        tourtip-offset="20"
                        tourtip-step="2">Tipo de Cozinha</label>
                                  <div class="col-sm-10">
                                      <input type="text" class="form-control" ng-model="restaurant.cuisineType">
                                          <span class="help-block">Diga que tipos de pratos estão disponíveis no restaurante.</span>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-2 col-sm-2 control-label">Lotação</label>
                                  <div class="col-sm-10">
                                      <select class="form-control" ng-model="restaurant.capacityRestaurant" required>
                                        <option>0-10</option>
                                        <option>11-20</option>
                                        <option>21-30</option>
                                        <option>31-40</option>
                                        <option>41-50</option>
                                        <option>51-60</option>
                                        <option>61-70</option>
                                        <option>71-80</option>
                                        <option>81-90</option>
                                        <option>91-100</option>
                                        <option> >100</option>
                                      </select>
                                      <span class="help-block">Número máximo de lugares do seu restaurante.</span>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-2 col-sm-2 control-label" tourtip="No seu restaurante um cliente pode obter uma refeição entre que valores, p.e. 2,43€ até 10€"
                        tourtip-next-label="Seguinte"
                        tourtip-placement="bottom"
                        tourtip-offset="20"
                        tourtip-step="3">Variação do Preço</label>
                                  
                                  <div class="col-sm-3">
                                      <div class="input-group">
                                        <span class="input-group-addon">€</span>
                                        <input type="number" step="any" class="form-control" placeholder="Preço Mínimo" ng-model="restaurant.minimumPrice" required>
                                      </div>
                                  </div>
                                 
                                  <div class="col-sm-3">
                                      <div class="input-group">
                                        <span class="input-group-addon">€</span>
                                        <input type="number" step="any" class="form-control" placeholder="Preço Máximo" ng-model="restaurant.maximumPrice" required>
                                      </div>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label class="col-sm-2 col-sm-2 control-label" tourtip="Marque esta opção se oferece internet grátis via wireless no seu establecimento!"
                        tourtip-next-label="Seguinte"
                        tourtip-placement="bottom"
                        tourtip-offset="20"
                        tourtip-step="4">WI-FI</label>
                                  <div class="col-sm-3">
                                      <label class="checkbox-inline">
                                         <input type="checkbox" id="inlineCheckbox" value="option" ng-model="restaurant.wifi"> Sim
                                      </label>
                                  </div>
                                  <label class="col-sm-1 col-sm-1 control-label" tourtip="O sistema de reservas é algo que permite ás pessoas reservar um certo número de lugares no seu restaurante antes das refeição. Será notificado por SMS sempre que alguém o fizer, bem como o nº de lugares"
                        tourtip-next-label="Seguinte"
                        tourtip-placement="bottom"
                        tourtip-offset="20"
                        tourtip-step="5">Reservas</label>
                                  <div class="col-sm-6">
                                      <label class="checkbox-inline">
                                         <input type="checkbox" id="inlineCheckbox" value="option" ng-model="restaurant.reserve"> Sim, desejo ativar o sistema de reservas online e receber notificações via SMS no momento.
                                      </label>
                                  </div>
                              </div>
                          
                              <h3 tourtip="Permita que os seus cliente se ligem ao seu restaurante nas redes socias"
                                        tourtip-next-label="Seguinte"
                                        tourtip-placement="bottom"
                                        tourtip-offset="20"
                                        tourtip-step="6"><i class="fa fa-angle-right"></i> Redes Sociais</h3>
                              <div class="row" >
                                  <br/>
                                  <!-- TWITTER PANEL -->
                                  <div class="col-lg-4 col-md-4 col-sm-4 mb" >
                                      <div class="twitter-panel pn" style="height:150px">
                                          <i class="fa fa-twitter fa-4x"></i>
                                          <p>Twitter</p>
                                          <p class="user">@restaurante_x</p>
                                      </div>
                                      <br/>
                                      <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-link"></span></span>
                                                        <input type="text" class="form-control" placeholder="Cole aqui o link!" ng-model="restaurant.twitter">
                                                      </div>
                                  </div><!-- /col-md-4 -->
                                  
                                  <div class="col-lg-4 col-md-4 col-sm-4 mb">
                                      <div class="twitter-panel pn" style="background-color:#3b5998;height:150px">
                                          <i class="fa fa-facebook fa-4x"></i>
                                          <p>Facebook</p>
                                          <p class="user">@restaurante_x</p>
                                      </div>
                                      <br/>
                                      <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-link"></span></span>
                                                        <input type="text" class="form-control" placeholder="Cole aqui o link!" ng-model="restaurant.facebook">
                                                      </div>
                                  </div><!-- /col-md-4 -->
                                  
                                  <div class="col-lg-4 col-md-4 col-sm-4 mb">
                                      <div class="twitter-panel pn" style="background-color:#D00000;height:150px">
                                          <i class="fa fa-google-plus-square fa-4x"></i>
                                          <p>Google+</p>
                                          <p class="user">@restaurante_x</p>
                                      </div>
                                      <br/>
                                      <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-link"></span></span>
                                                        <input type="text" class="form-control" placeholder="Cole aqui o link!" ng-model="restaurant.googleplus">
                                                      </div>
                                  </div><!-- /col-md-4 -->
                              </div>
                              
                              <button type="submit" class="btn btn-round btn-info" tourtip="No fim de tudo, clique aqui para salvar os seus dados. Espero que a ajuda tenha sido útil. Obrigado!"
                                        tourtip-next-label="Seguinte"
                                        tourtip-placement="top"
                                        tourtip-offset="20"
                                        tourtip-step="7">Guardar Dados</button>
                        </form>
                      </div>
                  </div><!-- col-lg-12-->       
              </div><!-- /row -->              
          </section>
      </section>
      <!--main content end-->

      <!--footer start-->
       <footer class="site-footer">
          <div class="text-center">
              2014 - Clap
              <a href="details.html#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/static/restaurants/js/jquery.js"></script>
    <script src="/static/restaurants/js/jquery-1.8.3.min.js"></script>
    <script src="/static/restaurants/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="/static/restaurants/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/static/restaurants/js/jquery.scrollTo.min.js"></script>
    <script src="/static/restaurants/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="/static/restaurants/js/jquery.sparkline.js"></script>


    <!--common script for all pages-->
    <script src="/static/restaurants/js/common-scripts.js"></script>
    
    <script type="text/javascript" src="/static/restaurants/js/gritter/js/jquery.gritter.js"></script>
    <script type="text/javascript" src="/static/restaurants/js/gritter-conf.js"></script>

    <!--script for this page-->
    <script src="/static/restaurants/js/sparkline-chart.js"></script>    
	<script src="/static/restaurants/js/zabuto_calendar.js"></script>	
	
	
	
	<script type="application/javascript">
        $(document).ready(function () {
            $("#date-popover").popover({html: true, trigger: "manual"});
            $("#date-popover").hide();
            $("#date-popover").click(function (e) {
                $(this).hide();
            });
        
            $("#my-calendar").zabuto_calendar({
                action: function () {
                    return myDateFunction(this.id, false);
                },
                action_nav: function () {
                    return myNavFunction(this.id);
                },
                ajax: {
                    url: "show_data.php?action=1",
                    modal: true
                },
                legend: [
                    {type: "text", label: "Special event", badge: "00"},
                    {type: "block", label: "Regular event", }
                ]
            });
        });
        
        
        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
    </script>
  

  </body>
</html>
