<!DOCTYPE html>
<html lang="en" ng-app="dash">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

        <title>CLAP - Restaurant Manager Dashbord :: Ementas</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/restaurants/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="/static/restaurants/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/static/restaurants/js/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="/static/restaurants/css/style.css" rel="stylesheet">
    <link href="/static/restaurants/css/style-responsive.css" rel="stylesheet">

    <script type="text/javascript" src="/static/restaurants/js/angular.min.js"></script>
    <script type="text/javascript" src="/static/restaurants/js/angular-cookies.min.js"></script>
    <script type="text/javascript" src="/static/restaurants/js/angular-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="/static/restaurants/js/angular-file-upload.min.js"></script>

    <script src="/static/restaurants/js/tour_lib/angular-cookie/angular-cookie.min.js"></script>
    <script src="/static/restaurants/js/tour_lib/angular-tour-tpls.min.js"></script>>
    <script type="text/javascript" src="/static/restaurants/js/dash.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" >
 
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="index.html" class="logo"><b>DASHBORD MANAGER CLAP</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-tasks"></i>
                            <span class="badge bg-theme">4</span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 4 pending tasks</p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">DashGum Admin Panel</div>
                                        <div class="percent">40%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Database Update</div>
                                        <div class="percent">60%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Product Development</div>
                                        <div class="percent">80%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Payments Sent</div>
                                        <div class="percent">70%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                            <span class="sr-only">70% Complete (Important)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="external">
                                <a href="#">See All Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- settings end -->
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-theme">5</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 5 new messages</p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="/static/restaurants/img/ui-zac.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Zac Snider</span>
                                    <span class="time">Just now</span>
                                    </span>
                                    <span class="message">
                                        Hi mate, how is everything?
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="/static/restaurants/img/ui-divya.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Divya Manian</span>
                                    <span class="time">40 mins.</span>
                                    </span>
                                    <span class="message">
                                     Hi, I need your help with this.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="/static/restaurants/img/ui-danro.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Dan Rogers</span>
                                    <span class="time">2 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Love your new Dashboard.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="/static/restaurants/img/ui-sherman.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Dj Sherman</span>
                                    <span class="time">4 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Please, answer asap.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">See all messages</a>
                            </li>
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->
                </ul>
                </div>
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li><a class="logout" href="login.html">Logout</a></li>
                </ul>
            </div>
        </header>
      <!--header end-->
      
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
                  <p class="centered"><a href="profile.html"><img src="/static/restaurants/img/logo.png" class="img-circle" width="90"></a></p>
                  <h5 class="centered">Campus Life APplication</h5>
                    
                  <li class="mt">
                      <a   href="index.html" >
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a   href="details.html" >
                          <i class="fa fa-cogs"></i>
                          <span>Detalhes</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a class="active"  href="ementas.html" >
                          <i class="fa fa-cutlery"></i>
                          <span>Ementas</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a   href="location.html" >
                          <i class="fa fa-map-marker"></i>
                          <span>Localização</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a   href="gallery.html" >
                          <i class="fa fa-file-photo-o"></i>
                          <span>Galeria</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a   href="stats.html" >
                          <i class=" fa fa-bar-chart-o"></i>
                          <span>Estatísticas</span>
                      </a>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->

      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> Ementas</h3>
              <!-- page start-->
              <div class="row mt">
                  <aside class="col-lg-3 mt">
                      <h4><i class="fa fa-angle-right"></i> Menus Arrastáveis</h4>
                      <div id="external-events" ng-controller="getMenus" ng-repeat="menu in menuList">
                          <div class="external-event label label-them">{{menu.name}}</div>
                          <!--<div class="external-event label label-theme">Menu 1</div>
                          <div class="external-event label label-success">Menu 2</div>
                          <div class="external-event label label-info">Menu 3</div>
                          <div class="external-event label label-warning">Menu 4</div>
                          <div class="external-event label label-danger">Menu 5</div>
                          <div class="external-event label label-default">Menu 6</div>
                          <div class="external-event label label-theme">Menu 7</div>
                          <div class="external-event label label-info">Menu 8</div>
                          <div class="external-event label label-success">Menu 9</div>-->
                          <p class="drop-after">
                              <input type="checkbox" id="drop-remove">
                              Remover Depois de Arrastar
                          </p>
                      </div>
                      <br/>
                      <div>
                        <h4><i class="fa fa-angle-right"></i> Novo Menu</h4>
                        <div class="form-group"  ng-controller="ctrlAddMenu">
                          <form name="detailsForm" class="form-horizontal style-form" ng-submit="newMenu.addMenu()">
                              <div>
                                  <input class="form-control" type="text" placeholder="Descrição" ng-model="newMenu.descriptionM">
                                  <br/>
                                  <input class="form-control" type="number" placeholder="Preço" ng-model="newMenu.price">
                                  <br/>
                                  <fieldset ng-repeat="dishAdd in dishesToAdd">
                                    <fieldset id = "dish">
                                      <input class="form-control" ng-model="dishAdd.name" type="text" placeholder="Prato" typeahead="dish for dishes in getDish($viewValue)" typeahead-loading="a carregar pratos">
                                    </fieldset>
                                    <br/>
                                    <button type="button" class="btn btn-round btn-primary" ng-show="showAddMinusButton(dishAdd)" ng-click="moreDishes.plusDish()">+</button>
                                    <button type="button" class="btn btn-round btn-primary" ng-show="showAddMinusButton(dishAdd)" ng-click="moreDishes.lessDish()"> - </button>
                                  </fieldset>
                                  <br/>
                                  <div class="checkbox">
                                    <label><input type="checkbox" value ng-model="newMenu.vegetarian"> Vegetariano</label> 
                                  </div>
                                  <br/>
                                  <div class="checkbox">
                                    <label><input type="checkbox" value ng-model="newMenu.cheap"> Económico</label>
                                  </div>
                                  <br/>
                              </div>
                              <br/>
                              <button type="submit" class="btn btn-round btn-info">Guardar </button>
                            </form>
                        </div>
                      </div>
                  </aside>
                  <aside class="col-lg-9 mt">
                      <section class="panel">
                          <div class="panel-body">
                              <div id="calendar" class="has-toolbar"></div>
                          </div>
                      </section>
                  </aside>
              </div>
              <!-- page end-->
    </section>
      </section><!-- /MAIN CONTENT -->
      <!--main content end-->

      <!--footer start-->
       <footer class="site-footer">
          <div class="text-center">
              2014 - Clap
              <a href="ementas.html#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/static/restaurants/js/jquery.js"></script>
    <script src="/static/restaurants/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="/static/restaurants/js/fullcalendar/fullcalendar.min.js"></script>    
    <script src="/static/restaurants/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="/static/restaurants/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/static/restaurants/js/jquery.scrollTo.min.js"></script>
    <script src="/static/restaurants/js/jquery.nicescroll.js" type="text/javascript"></script>


    <!--common script for all pages-->
    <script src="/static/restaurants/js/common-scripts.js"></script>

    <!--script for this page-->
  <script src="/static/restaurants/js/calendar-conf-events.js"></script>    
  
  <script>
      //custom select box

      $(function(){
          $("select.styled").customSelect();
      });

  </script>

  </body>
</html>
