<html>
<head>
      <link href="/static/restaurants/css/bootstrap.css" rel="stylesheet">
      <link href="/static/restaurants/css/bootstrap-tour.min.css" rel="stylesheet">
   

</head>
<body>
      	<div class="col-lg-2" id="content">
          <a href="#" class="tour-step tour-step-one" id="tour"> Start Tour</a>
      </div>
      <br><br><br>
      <div id="content1" class="tour-step tour-step-two">
          Another Hello, World!
      </div>

      <script src="/static/restaurants/js/jquery.js"></script>
      <script src="/static/restaurants/js/bootstrap.min.js"></script>
      <script src="/static/restaurants/js/bootstrap-tour.min.js"></script>
      <script src="script.js"></script>
</body>
</html>
